{
  CIDER: {
    dependencies: {
      nuget: "",
      tatin: "packages",
    },
    dependencies_dev: {
      tatin: "packages_dev=TestCases",
    },
    distributionFolder: "Dist",
    init: "Initialize",
    make: "Admin.Make",
    parent: "#",
    projectSpace: "aplteam",
    project_url: "https://github.com/aplteam/APLTeam_DSE",
    source: "APLSource",
    tests: "TestCases.RunTests",
    tatinVars: "aplteam",
    version: "0.34.0",
  },
  LINK: {
    watch: "ns",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
    noLicenseCheck: 1,
  },
}
